.contenedor-carrusel {
  height: 200px;
  margin: 15px 0;

}

.carrusel-imagen {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-top: 80px;
  background-color: aquamarine;
}


.carousel-indicators{
  visibility: hidden;
}


